* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #ecf0f1;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;

}

/* Visible Todolist */
.App ul {
  box-shadow: 0px 0px 5px 0px;
  border-radius: 5px;
  overflow: hidden;
  height: 70%;
  background-color: #ecf0f1
}

.App ul:hover {
  box-shadow: 0px 0px 8px 0px;
  transition: all 0.5 ease-out;
}

/* FilterBox */
.App .FilterBox {
  border-bottom: 1px solid black;
}

/* No task text */
.notask-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notask-text span {
  opacity: 0.5;
  padding-bottom: 1em;
}